/* use tailwind syntax and import to project */
@import "tailwindcss";
/* https://tailwindcss.com/ */


/* prevents scroll chaining & bouncing */
:root
{
    overscroll-behavior: none;
    background-image: url("public/background.png");
}

body {
    /* image and scroll behaviour to main html content */
    scroll-behavior: smooth;
    background-image: url("public/background.png");
}
